.address {
  display: flex;
  flex-direction: column;
  font-style: inherit;
  padding-top: 20px;
  color: var(--alt-title-cl);
}

.address__item {
  padding-top: 9px;

  &__item--wt-cl {
  color: var(--alt-title-cl-transp);
}