.subs {
  display: flex;
}

.subs__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 200px;
  padding: 0;

  border: none;
  border-radius: 4px;
  color: var(--alt-title-cl);
  background-color: var(--accent-cl);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.subs__input {
  flex: 1;
  margin-right: 12px;
  padding: 18px 24px 12px 24px;
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.subs_svg {
  margin-left: 10px;
  fill: var(--alt-title-cl);
}
